nav ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: blueviolet;
}

nav ul li a{
  text-decoration: none;
  color: white;
  ;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

.todo-list li.completed{
  text-decoration: line-through;
}

.todo-list button{
 border-radius: 50%;
 border: none;
}

.checkbox{
  color: green;
  font-weight: bold;
  margin: 0 1em;
}

footer{
  text-align: center;
  margin-top: 1em;
  background-color: blue;
}

.loader {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  animation: wave 1s ease-in infinite;
}

@keyframes wave {
 0% {  box-shadow:
  0 0 0 0px rgba(255, 255,255, 1),
  0 0 0 20px rgba(255, 255,255, 0.2),
  0 0 0 40px rgba(255, 255,255, 0.6),
  0 0 0 60px rgba(255, 255,255, 0.4),
  0 0 0 80px rgba(255, 255,255, 0.2)
  }
  100% {  box-shadow:
    0 0 0 80px rgba(255, 255,255, 0),
    0 0 0 60px rgba(255, 255,255, 0.2),
    0 0 0 40px rgba(255, 255,255, 0.4),
    0 0 0 20px rgba(255, 255,255, 0.6),
    0 0 0 0px rgba(255, 255,255, 1)
  }
}


  

